*{
    margin: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    
}




.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     height: 600px;
    width: auto;
    margin: 0 auto;
    background-image: url("images/mazar.jpeg");
    background-repeat:repeat ;    
    background-size: contain;   
    text-align: center;
    color: white;


}
h1{
    background-color: dodgerblue    ;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.description{
    background-color: rgb(22, 80, 155);
    padding: 5px 10px;
    border-radius: 5px;
}





.main-content{
    height: 500px;
    background-color:  #F1FAEE;
    color: #1D3557;
    
}
.main-content h2{
    padding-top: 10px;
}
.main{
    display: flex;

    
}

 
.box p{
    margin-top: 20px;
}


.box img{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px 0 20px;



}


.guideImage{
    width: 250px;
    height: 330px;
    border-radius: 10px;

}


.guide{
    display: flex;
    width: 650px;
    background: #A8DADC;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 25px auto;
    color: #1D3557;

}

.guideIntroduction{
    padding: 15px;
    width: 300px    ;
   

}

 